# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
node_modules/
venv/
.env

# Compiled
dist/
build/
*.pyc
*.class

# IDEs
.vscode/
.idea/

# Coverage
coverage/


includes/database-connection.php
